<div class="wrapper">
    <div class="section">
        <div class="container text-center">

            <h4 class="title">MODIFICATION D'UNE MARQUE</h4>

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center shadow">

                    <form class="mt-5" [formGroup]="editBrandForm" (ngSubmit)="onSubmitEditedBrandForm()">

                        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>

                        <label>Nom</label>

                        <div class="alert alert-danger"
                             *ngIf="(editBrandForm.controls.name.dirty || editBrandForm.controls.name.touched)
                && editBrandForm.controls.name.invalid
                && editBrandForm.controls.name.errors.required">
                            Le nom est obligatoire.
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-alert-circle-i"></i></span>
                            </div>

                            <input type="text"
                                   class="form-control"
                                   placeholder="Nom*"
                                   formControlName="name"
                                   [(ngModel)]="brand.name">
                        </div>

                        <button class="btn btn-danger btn-block btn-round mt-4"
                                [disabled]="editBrandForm.invalid">Modifier
                        </button>

                    </form>

                    <div class="forgot mt-3">
                        <a routerLink="/brands" class="btn btn-link btn-danger">Revenir aux marques ?</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
